.message-list {
  flex: 1;
  height: 400px;
  overflow-y: auto;
  padding: 16px 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dark-mode .message-list {
  background-color: #36393f;
}

.message-list::-webkit-scrollbar {
  width: 8px;
}

.message-list::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.dark-mode .message-list::-webkit-scrollbar-track {
  background: #2f3136;
}

.message-list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.dark-mode .message-list::-webkit-scrollbar-thumb {
  background: #40444b;
}

.message-list::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.dark-mode .message-list::-webkit-scrollbar-thumb:hover {
  background: #50484f;
}
